/* common */
* {
  font-family: "Poppins", sans-serif;
}

/* ============ header ============ */
.main-header {
  margin: 0 auto;
  max-width: 1300px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  gap: 25px;
  justify-content: space-around;
}
.logo {
  cursor: pointer;
}
.wrap-input {
  position: relative;
  max-width: 801px;
  height: 40px;
}
.input-search {
  width: 100%;
  width: 500px;
  padding-left: 20px;
  border-radius: 999px;
  height: 100%;
  outline: none;
  border: 1px solid #ccc;
}
.icon-search {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  right: 0%;
  cursor: pointer;
}
.icon-search i {
  padding-top: 6px;
  padding-right: 6px;
  font-size: 25px;
  color: #003e8f;
}
.img-logo {
  width: 150px;
  height: 31px;
}
.main-header .action {
  gap: 10px;
  display: flex;
}
.action_item i {
  font-size: 25px;
  color: #144c95;
}
.action_item {
  cursor: pointer;
}

.action_item i:hover {
  color: #969090;
}
.action_item:last-child {
  position: relative;
}
.action_item:last-child::after {
  position: absolute;
  margin-left: -10px;
  bottom: 0;
  content: "(0)";
}
.sub-header-wrap {
  background-color: #003e8f;
  height: 65px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 16px;
}

.sub-header-wrap li {
  font-size: 24px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
.sub-header-wrap li > a {
  font-size: 24px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
.sub-header-wrap li:hover {
  color: #cecece;
}

/* breadcrumb */
.breadcrumb {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  background-color: #ccc;
}

/* =========== banner============ */
.banner {
  color: #fff;
}
.main-banner {
  position: relative;
  width: 100%;
}
.main-banner img {
  width: 100%;
}
.button-next-banner {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
}

.button-next-banner button {
  position: relative;
  border: none;
  height: 65px;
  width: 65px;
  cursor: pointer;
}
.button-next-banner button:hover {
  background: inherit;
}
.button-next-banner li:first-child::after {
  z-index: 1;
  position: absolute;
  content: "";
  width: 40px;
  height: 1px;
  background: #ccc;
  right: 45px;
  top: 50%;
  rotate: 90deg;
}

.slide-wrapper {
  display: flex; /* Sử dụng Flexbox */
  width: 100%; /* Chiều rộng của wrapper là 100% */
  transition: transform 1s ease; /* Hiệu ứng chuyển đổi */
}

.slide {
  flex: 0 0 100%; /* Các slide chiếm toàn bộ chiều rộng của wrapper */
  max-width: 100%; /* Đảm bảo ảnh không bị vượt quá chiều rộng của slide */
}

#slideshow {
  overflow: hidden; /* Ẩn phần dư thừa của slide */
}

/* sub banner */
.sub-banner-title {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin-top: 8px;
  padding: 12px 0;
}
.sub-banner {
  padding-bottom: 20px;
  background-color: #144c95;
}
.sub-menu-list-toys {
  max-height: 304px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sub-menu-item img {
  flex-wrap: wrap;
}
.sub-menu-item-img img {
  border-radius: 999px;
  max-width: 161px;
}
.sub-menu-item-title-text {
  text-align: center;
  font-size: 16px;
  padding-top: 8px;
  font-weight: 400;
}

/* unique toys */
.unique-toys {
  max-width: 1300px;
  margin: 0 auto;
}
.unique-toys-list-nav {
  margin-bottom: 12px;
}
.unique-toys-list-nav-item:hover {
  transition: all 0.2s ease;
  color: rgb(173, 173, 2);
}
.unique-toys-list-nav-item.active::after {
  background-color: #a1a1a1;
}
.unique-toys-list-nav-item:hover::after {
  transition: all 0.2s ease;
  background-color: #a1a1a1;
}
.unique-toys-list-nav-item {
  padding: 0 40px;
  position: relative;
  cursor: pointer;
}
.unique-toys-list-nav-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ccc;
  left: 0;
  bottom: -8px;
}
.unique-toys-list-toys-preview {
  display: grid;
  column-gap: 30px;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  row-gap: 30px;
}
.unique-toys-list-toys-preview-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.unique-toys-list-toys-preview-item:hover::after,
.unique-toys-list-toys-preview-item:hover::before {
  height: 50px;
}

.unique-toys-list-toys-preview-item::after {
  content: "Thêm vào giỏ hàng";
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 140px;
  height: 0px;
  background: #000;
  color: #fff;
  z-index: 2;
  transition: all 0.2s linear;
}
.unique-toys-list-toys-preview-item::before {
  content: "Mua ngay";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  font-size: 14px;
  width: 140px;
  height: 0px;
  background: #000;
  color: #fff;
  z-index: 2;
  transition: all 0.2s linear;
}
.unique-toys-list-toys-preview-item img {
  margin: 0 auto;
  max-width: 180px;
}
.unique-toys-list-toys-preview-item-type {
  margin-bottom: 6px;
  text-align: center;
}
.unique-toys-list-toys-preview-item-cost {
  margin-top: 6px;
  position: relative;
}
.unique-toys-list-toys-preview-item-cost::before {
  margin-top: 6px;
  content: "NEW";
  font-size: 12px;
  background-color: #00aa0e;
  padding: 2px 7px;
  border-radius: 999px;
  margin-right: 5px;
}

/* tab */
.tabs {
  display: flex;
  width: 100%;
}
.tablinks {
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
  padding: 1rem;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.2s ease;
}
.tablinks:hover {
  background: #1888c9;
  color: #fff;
}
/* Tab active */
.tablinks.active {
  background: #1888c9;
  color: #fff;
}

/* tab content */
.tabcontent {
  display: none;
}
/* tab content active */
.tabcontent.active {
  display: block;
}

.tabs-img-preview-item {
  display: flex;
  width: 100%;
}
/*  */
.tablinks-img-preview-item {
  border: none;
  outline: none;
  cursor: pointer;
  width: 175px;
  height: 120px;
  padding: 1rem;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.2s ease;
  background-image: url(https://product.hstatic.net/1000117512/product/185-85353_796156285f2b4edda7a9d588b3a710a6_medium.png);
  background-size: cover;
  background-position: center;
}
.tablinks-img-preview-item + .tablinks-img-preview-item {
  margin-left: 10px;
}
.tablinks-img-preview-item:hover {
  border: 1px solid red;
}
/* Tab active */
.tablinks-img-preview-item.active {
  border: 1px solid red;
}

/* tab content */
.tabcontent {
  display: none;
}
/* tab content active */
.tabcontent.active {
  display: block;
}
.tabcontent_i {
  display: none;
}
/* tab content active */
.tabcontent_i.active {
  display: block;
}

/* input number */

.number-control {
  display: flex;
  align-items: center;
}

.number-left::before,
.number-right::after {
  content: attr(data-content);
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 20px;
  color: white;
  transition: background-color 0.3s;
  cursor: pointer;
}

.number-left::before {
  content: "-";
}

.number-right::after {
  content: "+";
}

.number-quantity {
  padding: 0.25rem;
  border: 0;
  width: 50px;
  -moz-appearance: textfield;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.number-left:hover::before,
.number-right:hover::after {
  background-color: #666666;
}
